.customformv1 .summaryelement{
    padding: 5px 6px;
    line-height: 14px;
    font-size: 13px;
}


.customformv1 .summaryelement span{

    color:black;
    font-size: 12px;
}


.customformv1 .customesummerybody{
    padding: 0px;
    height: 650px;
    overflow-y: auto;
}

.custmo_form_setup .thumbnail {
    transition: opacity 0.5s;
    width: 100%;
}


.col-md-padding5 {
    padding: 5px;
}

.bodymax500{
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.bodymax400{
    /*height: 250px;*/
    overflow-y: auto;
    transition: height 0.5s;
}

.bodytransection{
    transition: height 0.5s;
}

.bodymax400:hover{
    /*height: 500px;*/
}

.hideelement{
    display: none;
}

.selectedfabricscustom{

    margin-top: 10px;
    box-shadow: 0px -15px 10px -8px #000;
    background: white;
}

.selectedfabricscustomup{

}


.bigbuttonspadding{
    margin-bottom: 10px;
}
.fabriciconfront{
    margin:5px ;
    display: inline-block!important;
}

.measurementprocess{
    text-align: center;
    background: #EEEEEE;
    padding: 10px;
    margin: 10px 0px;
}

.fabriciconfront div.selected{
    background: green;
}

.customtagvalue{
    width: 40%;
    float: left;
}

.customtagname{
    width: 60%;
    float: left;
}

.customtabblock a{
    padding: 5px!important;
    border-bottom: 1px solid #000;
    border: none!important;
    border-radius: 0px!important;
    padding: 5px!important;
}

.customtabblock a:hover{
    background: #C3C3C3!important;
}

.customtabblock a span{
    font-size: 13px;
}

.customtabblock {
    display: grid!important;
    padding: 0px!important;
    border-bottom: 1px solid #000!important;

    margin-bottom: 0px!important;

}

.fabriciconfront div.selected{
    background: green;
}

.shopAllCart .fabricBlock{
    float: left;
    width: 240px;
}

.customoselectbutton{
    background: red;
    border-color: red;
    color: white;
    width: 400px;
    margin-bottom: 10px;
}

.measurementblock h2{
    font-size: 35px;
    text-align: right;
}

.measurementblock h2.mesvalue {
    text-align: left;
    float: left;
}

.measurementblock .frcvalue{
    font-size: 25px;
    text-align: right;
    font-size: 23px;
    text-align: right;
    margin-top: -10px;
    float: left;

}

.row.measurementblock {
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.number_slider_div {
    margin: 10px 0px 30px;
    border-bottom: 1px solid;
    padding-bottom: 30px;
}

.measurementtable{
    font-size: 20px;
}

.number_slider_div2{

}

.number_slider_div2 {
    margin-top: 20px;
}

span.smalltext {
    font-size: 15px;
}

.extrapricetext {
    font-size: 12px;
}

span.extrapricesummary {
    /*float: right;*/
    /*margin-right: 12px;*/
}



.multichoiceoption{
    font-size: 15px;
    background: #FF5722;
    padding: 10px;
    color: white;
    font-weight: bold;
}

.customtagvalue table{
    width:100%;
}

.customtagvalue td{
    padding: 0px 5px;;
    vertical-align: middle;
}

.multiviewitem{
        background: #ff3d00;
    padding: 0px 5px;
    margin: 0px 5px 0px 0px;
    font-weight: bold;
    border-radius: 3px;
}